- name: Deploy to server
  env:
    HOST: 213.139.208.157
    USER: root
    APP_DIR: /ci_cd
    PORT: 22
  run: |
    ssh -i ~/.ssh/id_rsa -p $PORT $USER@$HOST << EOF
      set -e

      if [ ! -d "$APP_DIR" ]; then
        mkdir -p "$APP_DIR"
        git clone https://github.com/RahmatjonMatkarimov/Imtihon.git "$APP_DIR"
      fi

      cd "$APP_DIR"

      if [ ! -d .git ]; then
        echo "âŒ Repo not cloned properly. Aborting."
        exit 1
      fi

      git pull origin main

      echo "PORT=$PORT" > .env
      npm install
      npm run build

      if pm2 list | grep -q "ci_cd_app"; then
        pm2 restart ci_cd_app
      else
        pm2 start dist/main.js --name ci_cd_app
      fi

      pm2 save
    EOF
